/* General classes */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.rightFloat {
  float: right; }

.leftOverlay {
  float: left; }

input:focus {
  outline: none !important;
  outline-offset: 0px; }

/* End of Multiurpose classes */
html, body {
  background-color: #101010; }

#menu {
  position: fixed;
  top: 0px;
  width: 98%;
  margin: 10px 1%;
  padding: 15% 0%;
  height: 570px;
  background: white url("../images/navpattern.png") no-repeat top center;
  background-size: 100% !important;
  background-blend-mode: luminosity;
  z-index: 10; }
  #menu nav {
    padding-left: 90px; }
    #menu nav a {
      font-family: 'Roboto Slab', serif;
      font-size: 28px;
      color: black;
      font-weight: 400;
      line-height: 0.7;
      font-style: italic;
      text-transform: uppercase;
      text-decoration: none !important;
      cursor: pointer;
      outline: none;
      color: black;
      /* @include hoverTransition(color); */
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease;
      display: block;
      margin: 25px 0px; }
      #menu nav a:hover, #menu nav a:active, #menu nav a:focus {
        color: #8bb006;
        outline: none; }
      #menu nav a.active {
        color: #8bb006; }
  #menu .rightFloat {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    color: black;
    font-weight: 100;
    line-height: 0.7;
    min-width: 199px; }
    #menu .rightFloat .lang {
      display: block;
      text-align: right;
      height: 40px; }
      #menu .rightFloat .lang .eachLang {
        text-decoration: none !important;
        cursor: pointer;
        outline: none;
        color: black;
        /* @include hoverTransition(color); */
        -webkit-transition-property: "background-color";
        -moz-transition-property: "background-color";
        -o-transition-property: "background-color";
        transition-property: "background-color";
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        padding: 1px 1px 1px 2px;
        margin: 0px 5px; }
        #menu .rightFloat .lang .eachLang:hover, #menu .rightFloat .lang .eachLang:active, #menu .rightFloat .lang .eachLang:focus {
          color: white;
          outline: none; }
      #menu .rightFloat .lang .eachLang:hover {
        background-color: #8bb006; }
      #menu .rightFloat .lang .active {
        background-color: #8bb006;
        color: white !important; }
    #menu .rightFloat .search {
      border: none;
      border-bottom: 1px #e2e2e2 solid;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.1);
      position: absolute;
      top: 35px; }
    #menu .rightFloat .customPlaceholder {
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease;
      -webkit-font-smoothing: antialiased !important;
      -moz-osx-font-smoothing: grayscale !important;
      letter-spacing: 0.7px;
      padding-bottom: 10px;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase; }
      #menu .rightFloat .customPlaceholder .lightSpan {
        -webkit-font-smoothing: auto !important;
        -moz-osx-font-smoothing: auto !important;
        font-weight: 100 !important; }
      #menu .rightFloat .customPlaceholder i {
        -webkit-font-smoothing: auto !important;
        -moz-osx-font-smoothing: auto !important;
        padding-left: 5px;
        font-size: 0.9em;
        color: #8bb006;
        -webkit-text-stroke: 1px #8bb006; }
      #menu .rightFloat .customPlaceholder.rightFloat {
        background-color: rgba(255, 255, 255, 0.05) !important;
        padding: 15px 15px !important; }

header {
  z-index: 11;
  position: absolute;
  width: 100%;
  padding-top: 20px; }
  header i {
    margin-left: 20px;
    float: left;
    font-size: 2em;
    background-color: white;
    border-radius: 2px;
    padding: 3px;
    cursor: pointer; }
  header #logo {
    float: right;
    margin-right: 20px;
    max-width: 150px; }

.carousel {
  	/* position: absolute;
  	top: 0px;
   */ }
  .carousel .carousel-caption {
    position: absolute;
    top: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%; }
  .carousel .carousel-control i {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    font-size: 7em;
    -webkit-text-stroke: 3px #303030;
    text-shadow: -1px -1px 0 #999, 1px -1px 0 #999, -1px 1px 0 #999, 1px 1px 0 #999; }
  .carousel .left i {
    margin-left: -10px;
    left: 30%; }
  .carousel .right i {
    margin-right: -10px;
    right: 30%; }

.full-width {
  width: 100%; }

.text-center {
  text-align: center; }

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 4em;
  color: black;
  font-weight: 700;
  line-height: 0.7;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: -2px 0 white, 0 2px #949494, 2px 0 white, 0 -2px white; }
  h1 .smaller {
    font-size: 0.75em;
    font-weight: 400; }

.patternDesign {
  background-size: 100% !important;
  position: absolute;
  width: 100%;
  background-color: transparent;
  mix-blend-mode: overlay; }
  .patternDesign section {
    mix-blend-mode: normal; }

#pattern1 {
  background: url("../images/half-layout1.png") no-repeat center top;
  top: 550px;
  height: 3000px; }

#pattern2 {
  background: url("../images/half-layout3.png") no-repeat center top;
  mix-blend-mode: overlay;
  position: absolute;
  top: -80px;
  height: 1600px;
  opacity: 0.7; }

#bgimage {
  background: url("../images/half-layout4.png") no-repeat center top;
  mix-blend-mode: normal;
  position: absolute;
  top: 770px;
  height: 1120px; }

.container {
  padding: 0px 15px !important; }
  .container section {
    background-color: transparent; }

#content-4box .each {
  margin: 0px 0px 10px; }
#content-4box .box {
  position: relative;
  width: 100%;
  display: block;
  pointer-events: auto; }
  #content-4box .box img {
    border: 8px solid white !important;
    border-radius: 0px !important;
    text-decoration: none !important;
    cursor: pointer;
    outline: none;
    color: black;
    /* @include hoverTransition(color); */
    -webkit-transition-property: "all";
    -moz-transition-property: "all";
    -o-transition-property: "all";
    transition-property: "all";
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    width: 100%;
    display: block;
    position: relative; }
    #content-4box .box img:hover {
      border: 8px solid black !important;
      outline: none !important; }
    #content-4box .box img:active, #content-4box .box img:focus {
      border: 8px solid black !important;
      outline: none !important; }
    #content-4box .box img:hover, #content-4box .box img:active, #content-4box .box img:focus {
      color: black;
      outline: none; }
  #content-4box .box button {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    color: black;
    font-weight: 400;
    line-height: 0.7;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: -2px 0 white, 0 2px #949494, 2px 0 white, 0 -2px white;
    border: 2px solid white !important;
    border-radius: 0px !important;
    padding: 30px 20px !important;
    text-decoration: none !important;
    text-align: center;
    background-color: transparent !important;
    cursor: pointer;
    box-shadow: none;
    -webkit-transition-property: "all";
    -moz-transition-property: "all";
    -o-transition-property: "all";
    transition-property: "all";
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-26%, -30%);
    pointer-events: none; }
    #content-4box .box button:hover {
      border: 2px solid white !important;
      outline: none !important; }
    #content-4box .box button:active, #content-4box .box button:focus {
      border: 2px solid white !important;
      outline: none !important; }
    #content-4box .box button:hover, #content-4box .box button:active, #content-4box .box button:focus {
      background-color: white !important;
      color: black !important;
      box-shadow: none;
      outline: none !important; }
  #content-4box .box:hover button {
    background-color: white !important; }

#shop {
  margin-top: 200px !important; }
  #shop .shopNav button {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: white;
    font-weight: 700;
    line-height: 0.7;
    font-style: italic;
    text-transform: uppercase;
    padding: 17px 15px !important;
    text-decoration: none !important;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.02) !important;
    cursor: pointer;
    box-shadow: none;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    border: none !important;
    letter-spacing: 0.7px; }
    #shop .shopNav button:hover, #shop .shopNav button:active, #shop .shopNav button:focus {
      background-color: black !important;
      color: white !important;
      box-shadow: none;
      outline: none !important; }
    #shop .shopNav button.active {
      background-color: black !important; }
    #shop .shopNav button.rightFloat {
      background-color: rgba(255, 255, 255, 0.05) !important;
      padding: 15px 15px !important; }
  #shop .shopNav .rightFloat {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: white;
    font-weight: 100;
    line-height: 0.7;
    min-width: 199px;
    padding: 10px 0px 10px 10px;
    display: block;
    height: 41px; }
    #shop .shopNav .rightFloat .search {
      border: none;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.05);
      position: absolute;
      top: 0; }
    #shop .shopNav .rightFloat .customPlaceholder {
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease;
      -webkit-font-smoothing: antialiased !important;
      -moz-osx-font-smoothing: grayscale !important;
      letter-spacing: 0.7px;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
      padding: 3px 3px;
      width: 100%; }
      #shop .shopNav .rightFloat .customPlaceholder .lightSpan {
        -webkit-font-smoothing: auto !important;
        -moz-osx-font-smoothing: auto !important;
        font-weight: 100 !important; }
      #shop .shopNav .rightFloat .customPlaceholder i {
        -webkit-font-smoothing: auto !important;
        -moz-osx-font-smoothing: auto !important;
        padding-left: 5px;
        font-size: 0.9em;
        color: #8bb006;
        -webkit-text-stroke: 1px #8bb006; }
      #shop .shopNav .rightFloat .customPlaceholder.rightFloat {
        background-color: rgba(255, 255, 255, 0.05) !important;
        padding: 15px 15px !important; }
  #shop .shopBox {
    margin-top: 35px; }
    #shop .shopBox .bigBoxesShop .bigBox {
      width: 100%; }
      #shop .shopBox .bigBoxesShop .bigBox img {
        border: 8px solid black !important;
        border-radius: 0px !important;
        width: 100%;
        display: block;
        position: relative;
        max-height: 359px; }
        #shop .shopBox .bigBoxesShop .bigBox img:hover {
          border: 8px solid black !important;
          outline: none !important; }
        #shop .shopBox .bigBoxesShop .bigBox img:active, #shop .shopBox .bigBoxesShop .bigBox img:focus {
          border: 8px solid black !important;
          outline: none !important; }
    #shop .shopBox .bigBoxesShop .priceTag {
      font-family: 'Roboto Slab', serif;
      font-size: 15px;
      color: black;
      font-weight: 400;
      line-height: 0.7;
      font-style: italic;
      text-transform: uppercase;
      text-decoration: none !important;
      cursor: pointer;
      outline: none;
      color: white;
      /* @include hoverTransition(color); */
      line-height: 2 !important;
      letter-spacing: 0.8px;
      display: block;
      margin: -20px 0 0 8px;
      position: absolute; }
      #shop .shopBox .bigBoxesShop .priceTag:hover, #shop .shopBox .bigBoxesShop .priceTag:active, #shop .shopBox .bigBoxesShop .priceTag:focus {
        color: white;
        outline: none; }
      #shop .shopBox .bigBoxesShop .priceTag .firstBox {
        background-color: #8bb006;
        padding: 7px 10px; }
      #shop .shopBox .bigBoxesShop .priceTag .secondBox {
        background-color: black;
        padding: 7px 10px; }
    #shop .shopBox .smallBoxesShop .smallBox {
      width: 100%;
      margin-bottom: 12px; }
      #shop .shopBox .smallBoxesShop .smallBox img {
        border: 8px solid black !important;
        border-radius: 0px !important;
        width: 100%;
        display: block;
        position: relative; }
        #shop .shopBox .smallBoxesShop .smallBox img:hover {
          border: 8px solid black !important;
          outline: none !important; }
        #shop .shopBox .smallBoxesShop .smallBox img:active, #shop .shopBox .smallBoxesShop .smallBox img:focus {
          border: 8px solid black !important;
          outline: none !important; }
    #shop .shopBox .smallBoxesShop .priceTag {
      font-family: 'Roboto Slab', serif;
      font-size: 11px;
      color: white;
      font-weight: 400;
      line-height: 0.7;
      font-style: italic;
      text-transform: uppercase;
      text-decoration: none !important;
      cursor: pointer;
      outline: none;
      color: white;
      /* @include hoverTransition(color); */
      line-height: 1 !important;
      letter-spacing: 0.8px;
      display: block;
      margin: -10px 0 0 8px;
      position: absolute; }
      #shop .shopBox .smallBoxesShop .priceTag:hover, #shop .shopBox .smallBoxesShop .priceTag:active, #shop .shopBox .smallBoxesShop .priceTag:focus {
        color: white;
        outline: none; }
      #shop .shopBox .smallBoxesShop .priceTag .firstBox {
        background-color: #8bb006;
        padding: 6px 8px; }
      #shop .shopBox .smallBoxesShop .priceTag .secondBox {
        background-color: black;
        padding: 6px 8px; }

#news {
  margin-top: 200px !important; }
  #news a.newsNav {
    text-decoration: none !important;
    cursor: pointer;
    outline: none;
    color: white;
    /* @include hoverTransition(color); */ }
    #news a.newsNav:hover, #news a.newsNav:active, #news a.newsNav:focus {
      color: white;
      outline: none; }
  #news .newsNav {
    margin-bottom: 35px; }
    #news .newsNav h2 {
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      color: white;
      font-weight: 700;
      line-height: 0.7;
      font-style: italic;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased !important;
      -moz-osx-font-smoothing: grayscale !important;
      letter-spacing: 0.7px;
      margin-left: 15px;
      margin-top: 0px;
      margin-bottom: 0px; }
    #news .newsNav span {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      color: white;
      font-weight: 100;
      line-height: 0.7;
      font-style: italic;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      text-transform: none; }
    #news .newsNav i {
      -webkit-font-smoothing: auto !important;
      -moz-osx-font-smoothing: auto !important;
      padding-left: 4px;
      font-size: 14px;
      color: white; }
  #news .newsBoxes {
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px; }
    #news .newsBoxes .eachBox {
      text-decoration: none !important;
      cursor: pointer;
      outline: none;
      color: white;
      /* @include hoverTransition(color); */
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease;
      padding: 0px; }
      #news .newsBoxes .eachBox:hover, #news .newsBoxes .eachBox:active, #news .newsBoxes .eachBox:focus {
        color: white;
        outline: none; }
      #news .newsBoxes .eachBox span {
        font-family: 'Roboto Slab', serif;
        font-size: 12px;
        color: #949494;
        font-weight: 400;
        line-height: 0.7;
        letter-spacing: 0.5px;
        text-transform: uppercase; }
      #news .newsBoxes .eachBox .date {
        font-family: 'Roboto Slab', serif;
        font-size: 12px;
        color: white;
        font-weight: 300;
        line-height: 0.7;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding-left: 4px; }
      #news .newsBoxes .eachBox h4 {
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        color: white;
        font-weight: 700;
        line-height: 0.7;
        font-style: italic;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
        height: 60px;
        line-height: 1.3;
        margin-bottom: 7px; }
      #news .newsBoxes .eachBox p {
        font-family: 'Roboto Condensed', serif;
        font-size: 12px;
        color: white;
        font-weight: 400;
        line-height: 0.7;
        letter-spacing: 0.5px;
        height: 95px;
        text-transform: none;
        line-height: 1.3; }
      #news .newsBoxes .eachBox .viewmoreText {
        font-family: 'Roboto Condensed', serif;
        font-size: 12px;
        color: #8bb006;
        font-weight: 400;
        line-height: 0.7;
        height: 25px;
        text-transform: none; }
    #news .newsBoxes .blackBox {
      background-color: black; }
    #news .newsBoxes .whiteBox {
      background-color: white; }
      #news .newsBoxes .whiteBox .date, #news .newsBoxes .whiteBox h4, #news .newsBoxes .whiteBox p {
        color: black !important; }
      #news .newsBoxes .whiteBox .viewmoreText {
        color: #8bb006 !important; }
      #news .newsBoxes .whiteBox:hover {
        background-color: black; }
        #news .newsBoxes .whiteBox:hover .date, #news .newsBoxes .whiteBox:hover h4, #news .newsBoxes .whiteBox:hover p {
          color: white !important; }
        #news .newsBoxes .whiteBox:hover .viewmoreText {
          color: #8bb006 !important; }
    #news .newsBoxes .boxesPadding {
      padding-left: 0px;
      padding-right: 0px;
      padding-right: 2px; }
    #news .newsBoxes .textArea {
      padding: 20px 40px 20px 50px; }
    #news .newsBoxes i {
      padding-left: 10px;
      font-size: 12px;
      color: #8bb006; }

#socialWall {
  margin-top: 360px !important; }
  #socialWall .socialNav {
    margin-bottom: 25px; }
    #socialWall .socialNav h2 {
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      color: black;
      font-weight: 300;
      line-height: 0.7;
      font-style: italic;
      text-transform: uppercase;
      margin-left: 15px;
      margin-top: 0px;
      margin-bottom: 0px; }
  #socialWall .socialBoxes {
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px; }
    #socialWall .socialBoxes .socialPadding {
      padding-left: 0px !important;
      padding-right: 1px !important; }
  #socialWall .overlay {
    background-color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: white;
    font-weight: 400;
    line-height: 0.7;
    padding: 10px;
    display: inline;
    margin: -30px 0px;
    position: relative; }
  #socialWall .fa-external-link {
    padding-left: 10px; }
  #socialWall .fa {
    padding-right: 2px;
    color: white; }
  #socialWall .fbLogoBox {
    padding: 8px 12px;
    background-color: #6788CE; }
  #socialWall .leftOverlay {
    padding-left: 0; }
  #socialWall a {
    text-decoration: none !important;
    cursor: pointer;
    outline: none;
    color: white;
    /* @include hoverTransition(color); */ }
    #socialWall a:hover, #socialWall a:active, #socialWall a:focus {
      color: white;
      outline: none; }

#bottomBanner {
  margin-top: 100px; }
  #bottomBanner .bgContainer {
    height: 250px;
    background: url(../images/storeImg.png) no-repeat top center;
    background-size: cover; }
  #bottomBanner button {
    padding: 30px 30px !important;
    text-decoration: none !important;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    box-shadow: none;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    color: white;
    font-weight: 700;
    line-height: 0.7;
    font-style: italic;
    text-transform: uppercase;
    -webkit-transition-property: "background-color";
    -moz-transition-property: "background-color";
    -o-transition-property: "background-color";
    transition-property: "background-color";
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    border: 1px white solid;
    letter-spacing: 0.7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #bottomBanner button:hover, #bottomBanner button:active, #bottomBanner button:focus {
      background-color: rgba(0, 0, 0, 0.5) !important;
      color: white !important;
      box-shadow: none;
      outline: none !important; }
    #bottomBanner button .lightSpan {
      font-weight: 300 !important; }
    #bottomBanner button i {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translate(-50%, 0%);
      padding-left: 5px;
      font-size: 2em;
      color: #8bb006;
      background-color: black;
      -webkit-text-stroke: 1px #8bb006; }

footer {
  font-family: 'Roboto Condensed', serif;
  font-size: 14px;
  color: white;
  font-weight: 400;
  line-height: 0.7;
  text-align: center;
  padding-top: 30px; }
  footer .socialLogos {
    padding-bottom: 30px; }
    footer .socialLogos a {
      text-decoration: none !important;
      cursor: pointer;
      outline: none;
      color: white;
      /* @include hoverTransition(color); */
      padding: 10px !important;
      margin: 0px 7px;
      font-size: 17px;
      width: 37px; }
      footer .socialLogos a:hover, footer .socialLogos a:active, footer .socialLogos a:focus {
        color: white;
        outline: none; }
    footer .socialLogos #instagram {
      background-color: #4ca1f0; }
    footer .socialLogos #twitter {
      background-color: #29c5f6; }
    footer .socialLogos #facebook {
      background-color: #6788ce; }
    footer .socialLogos #youtube {
      background-color: #e74c3c; }
  footer a {
    text-decoration: none !important;
    cursor: pointer;
    outline: none;
    color: white;
    /* @include hoverTransition(color); */
    padding: 25px;
    display: inline-block; }
    footer a:hover, footer a:active, footer a:focus {
      color: #949494;
      outline: none; }
  footer img {
    margin: 0px auto; }

/*# sourceMappingURL=style.css.map */
