
//Kini Colors

$kiniGreen: #8bb006;
$lightGrey: #949494;
$darkGrey: #1e1e1e;
$instaBlue: #4ca1f0;
$fbBlue:#6788ce;
$twitBlue: #29c5f6;
$ytRed: #e74c3c;



//Fonts Mixins

@mixin roboto($size,$color,$weight:100,$italic:false,$shadow:false){
    font-family: 'Roboto Slab', serif;
    font-size: $size;
    color: $color;  
    font-weight: $weight;
    line-height: 0.7;
    
    @if $italic {
      font-style: italic;
      text-transform: uppercase;
    }
    
    @if $shadow{
      text-shadow: -2px 0 white, 0 2px #949494, 2px 0 white, 0 -2px white;    
    }    
}

@mixin robotoCon($size,$color,$weight:100,$italic:false,$shadow:false){
    font-family: 'Roboto Condensed', serif;
    font-size: $size;
    color: $color;  
    font-weight: $weight;
    line-height: 0.7;
    
    @if $italic {
      font-style: italic;
      text-transform: uppercase;
    }
    
    @if $shadow{
      text-shadow: -2px 0 white, 0 2px #949494, 2px 0 white, 0 -2px white;    
    }    
}

@mixin smooth($enable:true){
  @if $enable {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
  }
  @else{
    -webkit-font-smoothing: auto !important;
    -moz-osx-font-smoothing: auto !important;    
  }
}




//Media queries
@mixin media($min:0px,$max:null) {
  @if $max {
    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
  } 
  @else{
    @media only screen and (min-width: $min){
        @content;
    }
  }  
}


// links and anchors Mixins 

@mixin links($color,$hoverColor){
  text-decoration: none !important;
  cursor: pointer;
  outline: none;
  color: $color;
  /* @include hoverTransition(color); */

  &:hover, &:active, &:focus {
    color: $hoverColor;   
    outline: none;
  }
}


//borders
@mixin borders($color,$hoverColor,$radius:4px,$width:1.5px,$hoverChange:'on'){
  border: $width solid $color !important;
  border-radius: $radius !important;

  @if $hoverChange == 'on' {
    &:hover{
      border: $width solid $hoverColor !important;  
      outline: none !important;
    }
  }
  &:active, &:focus {
    border: $width solid $hoverColor !important;  
    outline: none !important;
  }
}



//buttons

@mixin buttons($bgColor,$hoverBgColor,$hoverFontColor,$vPadding,$hPadding){
  padding: $vPadding $hPadding !important;  
  text-decoration:none !important;
  text-align: center;
  background-color: $bgColor !important;
  cursor: pointer;
  box-shadow:none;

  &:hover, &:active, &:focus {
    background-color: $hoverBgColor !important;
    color: $hoverFontColor !important;
    box-shadow: none;
    outline: none !important;
  }
}




//animation and transitions mixins

@mixin hoverTransition($property:all,$duration:0.3s,$type:ease){
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
  -webkit-transition-timing-function: $type;
  -moz-transition-timing-function: $type;
  -o-transition-timing-function: $type;
  transition-timing-function: $type;
}



