@import "_mixins.scss";

/* General classes */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; 
}

.relative{
	position: relative;
}

.fixed{
	position: fixed;
}

.rightFloat{
	float: right;
}

.leftOverlay{
	float: left;
}

input:focus{
	outline: none !important;
	outline-offset: 0px;
}
/* End of Multiurpose classes */

html, body{
	background-color: rgb(16,16,16);
}

#menu{
	position: fixed;
	top: 0px;
	width: 98%;
	margin: 10px 1%;
	padding: 15% 0%;
	height: 570px;
	background: white url("../images/navpattern.png") no-repeat top center;  
	background-size: 100% !important;
	background-blend-mode: luminosity;
	z-index: 10;


	nav{
		padding-left: 90px;

		a{
			@include roboto(28px,black,400,true,false);
			@include links(black,$kiniGreen);
		    @include hoverTransition();			
			display: block;
			margin: 25px 0px;
			
			&.active{
				color: $kiniGreen;
			}
		}
	}

	.rightFloat{
		@include roboto(17px,black,100,false,false);
		min-width: 199px;

		.lang{
			display: block;
			text-align: right;
			height: 40px;

			.eachLang{
				@include links(black,white);	
				@include hoverTransition('background-color');
				padding: 1px 1px 1px 2px;
				margin: 0px 5px;				
			}

			.eachLang:hover{
				background-color: $kiniGreen;
			}

			.active{
				background-color: $kiniGreen;
				color: white !important;
			}
		}
		.search{
			border: none;
			border-bottom: 1px #e2e2e2 solid;
			height: 30px;
			background-color: rgba(255,255,255,0.1);
			position: absolute;
			top: 35px;			
		}
		.customPlaceholder{
			@include hoverTransition();
			@include smooth();
			letter-spacing: 0.7px;
			padding-bottom: 10px;
			font-weight: 700;
			font-style: italic;
			text-transform: uppercase;

			.lightSpan{
				@include smooth(false);
				font-weight: 100 !important;
			}
			
			i{
				@include smooth(false);
				padding-left: 5px;
				font-size: 0.9em;
				color: $kiniGreen;
				-webkit-text-stroke: 1px $kiniGreen;
			}

			&.rightFloat{
				background-color: rgba(255,255,255,0.05) !important;
				padding: 15px 15px !important;
			}
		}
	}
}

header{
	z-index: 11;
	position: absolute;
	width: 100%;
	padding-top: 20px;

	i{
		margin-left: 20px;
		float: left;
		font-size: 2em;
		background-color: white;
		border-radius: 2px;
		padding: 3px;
		cursor: pointer;
	}

	#logo{
		float: right;
		margin-right: 20px;
		max-width: 150px;
	}
}
	
.carousel{	
	/* position: absolute;
	top: 0px;
 */
	.carousel-caption {
	    position: absolute;
	    top: 60px;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-align: center;
	    -moz-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    height: 100%;
	}

	.carousel-control{

		i{
			position: absolute;
			top: 50%;
			z-index: 5;
			display: inline-block;
			font-size: 7em;
			-webkit-text-stroke: 3px #303030;
		    text-shadow: -1px -1px 0 #999, 1px -1px 0 #999, -1px 1px 0 #999, 1px 1px 0 #999;
		}
	}

	.left{
		i{
			margin-left: -10px;
			left: 30%;
		}
	}

	.right{
		i{
			margin-right: -10px;
			right: 30%;
		}
	}
}

.full-width {
    width: 100%;
}

.text-center{
	text-align: center;
}

h1{
	@include roboto(4em,black,700,true,true);

	.smaller{
		font-size: 0.75em;
		font-weight: 400;
	}	
}

.patternDesign{
	background-size: 100% !important;
	position: absolute;
	width: 100%;
	background-color: transparent;
	mix-blend-mode: overlay;

	section{
		mix-blend-mode: normal;
	}
}

#pattern1{
	background: url("../images/half-layout1.png") no-repeat center top;
	top: 550px;
	height: 3000px;
}

#pattern2{
	background: url("../images/half-layout3.png") no-repeat center top;
	mix-blend-mode: overlay;
	position: absolute;
	top: -80px;
	height: 1600px;
	opacity: 0.7;
}
#bgimage{
	background: url("../images/half-layout4.png") no-repeat center top;
	mix-blend-mode: normal;
	position: absolute;
	top: 770px;
	height: 1120px;
}

.container{
	padding: 0px 15px !important;

	section{
		background-color: transparent;
	}
}

#content-4box{

	.each{
		margin: 0px 0px 10px;
	}

	.box{
		position: relative;
	    width: 100%;
		display: block;
		pointer-events: auto;

		img{
			@include borders(white,black,0px,8px,'on');
			@include links(black,black);
			@include hoverTransition('all');
			width: 100%;
			display: block;
		    position: relative;

		}

		button{
			@include roboto(2em,black,400,true,true);
			@include borders(white,white,0px,2px,'on');
			@include buttons(transparent,white,black,30px,20px);
		    @include hoverTransition('all');
			margin: 0px auto;
			position: absolute;
		    top: 50%;
		    left: 40%;
		    transform: translate(-26%, -30%);
		    pointer-events: none;

		}

		&:hover{
	    	button{
	    		background-color: white !important;
	    	}
	    }
	}
}

#shop{
	margin-top: 200px !important;

	.shopNav{
		button{
			@include roboto(16px,white,700,true,false);
			@include buttons(rgba(255,255,255,0.02),black,white,17px,15px);
			@include hoverTransition();
			@include smooth();
			border: none !important;
			letter-spacing: 0.7px;

			&.active{
				background-color: black !important;
			}

			&.rightFloat{
				background-color: rgba(255,255,255,0.05) !important;
				padding: 15px 15px !important;
			}
		}

		.rightFloat{
			@include roboto(16px,white,100,false,false);
			min-width: 199px;
			padding: 10px 0px 10px 10px;
			display: block;
			height: 41px;
			
			.search{
				border: none;
				height: 40px;
				background-color: rgba(255,255,255,0.05);
				position: absolute;
				top: 0;		
			}
			.customPlaceholder{
				@include hoverTransition();
				@include smooth();
				letter-spacing: 0.7px;
				font-weight: 700;
				font-style: italic;
				text-transform: uppercase;
				padding: 3px 3px;
				width: 100%;

				.lightSpan{
					@include smooth(false);
					font-weight: 100 !important;
				}
				
				i{
					@include smooth(false);
					padding-left: 5px;
					font-size: 0.9em;
					color: $kiniGreen;
					-webkit-text-stroke: 1px $kiniGreen;
				}

				&.rightFloat{
					background-color: rgba(255,255,255,0.05) !important;
					padding: 15px 15px !important;
				}
			}
		}
	}

	.shopBox{

		margin-top: 35px;

		.bigBoxesShop{
		
			.bigBox{

			    width: 100%;

			    img{
					@include borders(black,black,0px,8px,'on');
					width: 100%;
					display: block;
				    position: relative;
				    max-height: 359px;
				}
			}

			.priceTag{
				@include roboto(15px,black,400,true);
				@include links(white,white);
				line-height: 2 !important;
				letter-spacing: 0.8px;
				display: block;
				margin: -20px 0 0 8px;
				position: absolute;

				.firstBox{
					background-color: $kiniGreen;
					padding: 7px 10px;
				}
				.secondBox{
					background-color: black;
					padding: 7px 10px;
				}

			}
		}

		.smallBoxesShop{

			.smallBox{
			    width: 100%;
			    margin-bottom: 12px;

			    img{
					@include borders(black,black,0px,8px,'on');
					width: 100%;
					display: block;
				    position: relative;
				}

			}

			.priceTag{
				@include roboto(11px,white,400,true);
				@include links(white,white);
				line-height: 1 !important;
				letter-spacing: 0.8px;
				display: block;
				margin: -10px 0 0 8px;
				position: absolute;

				.firstBox{
					background-color: $kiniGreen;
					padding: 6px 8px;
				}
				.secondBox{
					background-color: black;
					padding: 6px 8px;
				}

			}

		}

	}

}


#news{

	margin-top: 200px !important;

	a.newsNav{
		@include links(white,white);
	}

	.newsNav{
		margin-bottom: 35px;


		h2{
			@include roboto(16px,white,700,true,false);
			@include smooth();
			letter-spacing: 0.7px;
			margin-left: 15px;
			margin-top:0px;
			margin-bottom: 0px;
		}
		
		span{

			@include roboto(14px,white,100,true,false);
			letter-spacing: 0.7px;
			text-transform: none;

		}

		i{
			@include smooth(false);
			padding-left: 4px;
			font-size: 14px;
			color: white;
		}

	}
	
	.newsBoxes{
		margin-top: 5px;
		padding-left: 15px;
		padding-right: 15px;

		.eachBox{
			@include links(white,white);
			@include hoverTransition();
			padding: 0px;

			span{
				@include roboto(12px,$lightGrey,400,false,false);
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}

			.date{
				@include roboto(12px,white,300,true,false);
				letter-spacing: 0.5px;
				padding-left: 4px;
			}

			h4{
				@include roboto(16px,white,700,true,false);
				@include smooth();
				height: 60px;
				line-height: 1.3;
				margin-bottom: 7px;
			}
			p{
				@include robotoCon(12px,white,400,false,false);
				letter-spacing: 0.5px;
				height: 95px;
				text-transform: none;
				line-height: 1.3;
			}
			.viewmoreText{
				@include robotoCon(12px,$kiniGreen,400,false,false);
				height: 25px;
				text-transform: none;

			}
		}

		.blackBox{
			background-color: black;

		}

		.whiteBox{
			background-color: white;
			
			.date, h4, p{
				color: black !important;
			}

			.viewmoreText{
				color: $kiniGreen !important;
			}

			&:hover{
				background-color: black;
				
				.date, h4, p{
					color: white !important;
				}
				
				.viewmoreText{
					color: $kiniGreen !important;
				}
			}
		}
		
		.boxesPadding{
			padding-left: 0px;
			padding-right: 0px;
			padding-right: 2px;
		}

		.textArea{
			padding: 20px 40px 20px 50px;

		}

		i{
			padding-left: 10px;
			font-size: 12px;
			color: $kiniGreen;
		}

	}


}

#socialWall{
	
	margin-top: 360px !important;

	.socialNav{
		margin-bottom: 25px;

		h2{
			@include roboto(16px,black,300,true,false);
			margin-left: 15px;
			margin-top:0px;
			margin-bottom: 0px;
		}

	}

	.socialBoxes{
		margin-top: 5px;
		padding-left: 15px;
		padding-right: 15px;
		
		.socialPadding{
			padding-left: 0px !important;
			padding-right: 1px !important;
		}
	}

	.overlay{
		background-color: black;
		@include roboto(12px,white,400,false,false);
		padding: 10px;
		display: inline;
		margin: -30px 0px;
		position: relative;
	}

	.fa-external-link{
		padding-left: 10px;
	}

	.fa{
		padding-right: 2px;
		color: white;
	}

	.fbLogoBox{
		padding: 8px 12px;
		background-color: #6788CE;
	}

	.leftOverlay{
		padding-left: 0;
	}

	a{
		@include links(white,white);
	}
}


#bottomBanner{
	margin-top: 100px;		
		
	.bgContainer{
		height:250px;
		background: url(../images/storeImg.png) no-repeat top center;
		background-size: cover;			
	}
	
	button{
		@include buttons(rgba(0,0,0,0.5),rgba(0,0,0,0.5),white,30px,30px);
		@include roboto(17px,white,700,true,false);
		@include hoverTransition('background-color');

		border: 1px white solid;
		letter-spacing: 0.7px;
		position: absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%,-50%);

		.lightSpan{
			font-weight: 300 !important;
		}
		
		i{
			position: absolute;
			top: -20px;
			left:50%;
			transform: translate(-50%,0%);

			padding-left: 5px;
			font-size: 2em;
			color: $kiniGreen;
			background-color: black;
			-webkit-text-stroke: 1px $kiniGreen;
		}

	}	
}

footer{
	@include robotoCon(14px,white,400,false,false);
	text-align: center;
	padding-top: 30px;

	.socialLogos{
		padding-bottom: 30px;
		
		a{
			@include links(white,white);
			padding: 10px !important;
			margin: 0px 7px;
			font-size: 17px;
			width:37px;
		}
		#instagram{
			background-color: #4ca1f0;
		}
		#twitter{
			background-color: #29c5f6;
		}
		#facebook{
			background-color: #6788ce;
		}
		#youtube{
			background-color: #e74c3c;
		}	
	}
	
	a{
		@include links(white,$lightGrey);
		padding: 25px;
		display: inline-block;
	}



	img{
		margin: 0px auto;
	}
}













