<!DOCTYPE html>
<html ng-app='kini' ng-controller="home"> 
<head>
 
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta name="Description" content="" />
 <meta name="Keyword" content="" />

 <title>Kini Project</title>

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 <link rel="stylesheet" href="./css/style.css"/>

 <!-- Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 <link href="assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body ng-cloak>
 
 <header ng-class="{'fixed': navStatus == 'opened'}">
	<i class="pe-7s-menu" ng-click="navStatus='opened'" ng-show="navStatus == 'closed'"></i>
	<i class="pe-7s-close" ng-click="navStatus='closed'" ng-show="navStatus == 'opened'" ></i>
	<img id="logo" src="images/logoKini.png" alt="Logo">	
 </header>

 <!-- Main carousel part --> 
 <section id="mainCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    
    <div class="item active">
      <img src="images/topbanner.jpg" alt="Discover The world of Kini">
      <div class="carousel-caption">
        <div class="full-width text-center">
	        <h1>
		        Discover 
				</br><span class="smaller">The World of Kini</span>
			</h1>
		</div>
      </div>
    </div>

    <div class="item">
      <img src="images/topbanner.jpg" alt="Discover The world of Kini">
      <div class="carousel-caption">
        <div class="full-width text-center">
	 		<h1>
		        Discover 
				</br><span class="smaller">The Second Slide</span>
			</h1>
		</div>
      </div>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
    <!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> -->
    <i class="pe-7s-angle-left" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
  	<!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
    <i class="pe-7s-angle-right" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>

</section>

<div id="pattern1" class="patternDesign"></div>

<div class="container">
	<!-- Content 4 box Section -->
	<section id="content-4box" class="row">
		<div class="each col-md-6">
			<a href="#" class="box">
				<img src="images/box1.png" alt="Online Shop" class="img-responsive">
				<button>Online Shop</button>
			</a>
		</div>
		<a href="#" class="each col-md-6">
			<div class="box">
				<img src="images/box2.png" alt="The Kinis" class="img-responsive">
				<button>The Kinis</button>
			</div>
		</a>
		<a href="#" class="each col-md-6">
			<div class="box">
				<img src="images/box3.png" alt="Kini-Line" class="img-responsive">
				<button>Kini-Line</button>
			</div>
		</a>
		<a href="#" class="each col-md-6">
			<div class="box">
				<img src="images/box4.png" alt="ADVENTURE TOURS" class="img-responsive">
				<button>ADVENTURE TOURS</button>
			</div>
		</a>
	</section>
	
	<!-- Shop Section -->
	<section id="shop" class="row">

		<div class="col-md-12">
			<div class="row">
				<div class="shopNav col-md-9">
					<button class="active">Topseller</button>
					<button>Beliebte Neuheiten</button>
					<button>KINI-Red Bull Line 2015</button>
				</div>

				<div class="shopNav col-md-3">
					<!-- <button class="rightFloat">
						<span class="lightSpan">Finde your </span>
						<span>Store</span>
						<i class="pe-7s-search"></i>
					</button> -->
					<div class="rightFloat">
						<input type="text" class="search" ng-model="search">
						<div class="customPlaceholder" ng-show="!search">
							<span class="lightSpan">Finde your </span>
							<span>Store</span>
							<i class="pe-7s-search"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="row shopBox">
				<div class="col-md-6 bigBoxesShop">
					<a href="#">
						<div class="bigBox">
							<img src="images/shopItem1.png" alt="Online Shop" class="img-responsive">
						</div>						
						<div class="priceTag">
							<span class="firstBox">€ 249.90</span><span class="secondBox">KINI-RB Revolution Helmet</span>
						</div>
					</a>
				</div>
				<div class="col-md-6 smallBoxesShop">
					<div class="row">
						<div class="col-md-6" style="padding: 0px 5px;">
							<a href="#">
								<div class="smallBox">
									<img src="images/shopItem2.png" alt="Online Shop" class="img-responsive">			
									<div class="priceTag">
										<span class="firstBox">€ 89.90</span><span class="secondBox">KINI-RB Background Hoodie</span>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-6" style="padding: 0px 5px;">
							<a href="#">
								<div class="smallBox">
									<img src="images/shopItem2Kopie.png" alt="Online Shop" class="img-responsive">									
									<div class="priceTag">
										<span class="firstBox">€ 34.90</span><span class="secondBox">KINI-RB Classic Crown Tee</span>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6" style="padding: 0px 5px;">
							<a href="#">
								<div class="smallBox">
									<img src="images/shopItem3.png" alt="Online Shop" class="img-responsive">									
									<div class="priceTag">
										<span class="firstBox">€ 59.90</span><span class="secondBox">KINI-RB Competition Shirt</span>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-6" style="padding: 0px 5px;">
							<a href="">
								<div class="smallBox">
									<img src="images/shopItem3Kopie.png" alt="Online Shop" class="img-responsive">
									<div class="priceTag">
										<span class="firstBox">€ 299.00</span><span class="secondBox">KINI-RB Composite Light </span>
									</div>									
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</div>

<section id="bgLayout" class="relative">
	<div id="bgimage" class="patternDesign"></div>
	<div id="pattern2" class="patternDesign"></div>
</section>

<div class="container">
	
	<!-- News Section -->
	<section id="news" class="row">

		<div class="col-md-12">
			<div class="row">
				<div class="newsNav col-md-10">
					<h2>Aktuelles, Events & Inside Storys</h2>
				</div>

				<a class="newsNav col-md-2" style="display: block;">
					<span class="">Alle Artikel anzeigen</span>
					<i class=" fa fa-angle-right"></i>
				</a>
			</div>
		</div>

		<div class="col-md-12">
			<div class="row newsBoxes">
				<div class="col-md-3 boxesPadding">
					<a href="#" class="col-md-12 eachBox blackBox">
						<img src="images/news1.png" alt="kini news" class="img-responsive">
						<div class="textArea">
							<span>News </span>
							<span class="date">01.12.2014</span>
							<h4>Nikolaustag im KTM KINI SHOP</h4>
							<p>Am 6. Dezember ist im KTM KINI Shop Nikolaustag mit Glühwein, Kinderpunsch, Keksen und sicherlich noch dem ein oder anderen ...</p>
							<p class="viewmoreText"> weiterlesen <i class=" fa fa-angle-right"></i> </p>
						</div>
					</a>
				</div>
				<div class="col-md-3 boxesPadding">
					<a href="#" class="col-md-12 eachBox whiteBox">
						<img src="images/news2.png" alt="kini news" class="img-responsive">
						<div class="textArea">
							<span>Inside-Kini </span>
							<span class="date">26.11.2014</span>
							<h4>Dakar Vorbereitung in Spanien</h4>
							<p>Der österreichische Motocross-Weltmeister von 2012 hat in Spanien zwei Wochen lang mit dem KTM-Werksteam trainiert.</p>
							<p class="viewmoreText"> weiterlesen <i class=" fa fa-angle-right"></i> </p>
						</div>
					</a>
				</div>
				<div class="col-md-3 boxesPadding">
					<a href="#" class="col-md-12 eachBox whiteBox">
						<img src="images/news3.png" alt="kini news" class="img-responsive">
						<div class="textArea">
							<span>Events </span>
							<span class="date">19.11.2014</span>
							<h4>Nikolaustag im KTM KINI SHOP</h4>
							<p>Am 6. Dezember ist im KTM KINI Shop Nikolaustag mit Glühwein, Kinderpunsch, Keksen und sicherlich noch dem ein oder anderen ...</p>
							<p class="viewmoreText"> weiterlesen <i class=" fa fa-angle-right"></i> </p>
						</div>
					</a>
				</div>
				<div class="col-md-3 boxesPadding">
					<a href="#" class="col-md-12 eachBox whiteBox">
						<img src="images/news4.png" alt="kini news" class="img-responsive">
						<div class="textArea">
							<span>News </span>
							<span class="date">11.11.2014</span>
							<h4>JACK MILLER GEWINNT MOTO3-FINALE</h4>
							<p>In einem spannenden Moto3-Saisonfinale im spanischen Valencia fuhr Jack Miller aus dem Red Bull KTM Ajo Team ein perfektes Rennen ...</p>
							<p class="viewmoreText"> weiterlesen <i class=" fa fa-angle-right"></i> </p>
						</div>
					</a>
				</div>
			</div>
			<div class="row newsBoxes newsBoxes2ndrow">
				<div class="col-md-3 boxesPadding">
					<a href="#" class="col-md-12 eachBox whiteBox">
						<img src="images/news5.png" alt="kini news" class="img-responsive">
						<div class="textArea">
							<span>MESSE </span>
							<span class="date">04.11.2014</span>
							<h4>EICMA 2014</h4>
							<p>IVom 04. bis zum 09. November öffnet die internationale Zweiradmesse EICMA in Italien ihre Pforten und der Event dürfte wieder ein Millionenpublikum ...</p>
							<p class="viewmoreText"> weiterlesen <i class=" fa fa-angle-right"></i> </p>
						</div>
					</a>
				</div>
				<div class="col-md-3 boxesPadding">
					<a href="#" class="col-md-12 eachBox whiteBox">
						<img src="images/news6.png" alt="kini news" class="img-responsive">
						<div class="textArea">
							<span>Event </span>
							<span class="date">04.11.2014</span>
							<h4>JGetzen Rodeo</h4>
							<p>Das Extrem-Enduro in Grießbach.</p>
							<p class="viewmoreText"> weiterlesen <i class=" fa fa-angle-right"></i> </p>
						</div>
					</a>
				</div>
				<div class="col-md-3 boxesPadding">
					<a href="#" class="col-md-12 eachBox whiteBox">
						<img src="images/news8.png" alt="kini news" class="img-responsive">
						<div class="textArea">
							<span>MESSE </span>
							<span class="date">23.10.2014</span>
							<h4>Erfolge für das KINI Juniorteam</h4>
							<p>Für das KINI Juniorteam ging mit dem letzten Rennen des KTM KINI Alpencups in Kundl eine sehr erfolgreiche Saison zu Ende.</p>
							<p class="viewmoreText"> weiterlesen <i class=" fa fa-angle-right"></i> </p>
						</div>
					</a>
				</div>
				<div class="col-md-3 boxesPadding">
					<a href="#" class="col-md-12 eachBox whiteBox">
						<img src="images/news7.png" alt="kini news" class="img-responsive">
						<div class="textArea">
							<span>News </span>
							<span class="date">23.10.2014</span>
							<h4>Saisonbilanz Rene Hofer#11</h4>
							<p>Große Erfolge für den KINI Red Bull Teamfahrer.</p>
							<p class="viewmoreText"> weiterlesen <i class=" fa fa-angle-right"></i> </p>
						</div>
					</a>
				</div>
			</div>
		</div>
		
	</section>

	<!-- Social Wall Section -->
	<section id="socialWall" class="row">

		<div class="col-md-12">
			<div class="row">
				<div class="socialNav col-md-12">
					<h2>Social for live</h2>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="row socialBoxes">
				<div class="col-md-3 socialPadding">
					<div class="col-md-12 socialPadding">
						<img src="images/sw1.png" alt="kini socialWall" class="img-responsive">
						<div class="rightFloat rightOverlay overlay">
							<a href="#">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
								255
								<i class="fa fa-external-link" aria-hidden="true"></i>
								23
							</a>
						</div>
						<div class="overlay leftOverlay">
							<a href="#" class="fbLogoBox"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<span>03.09.2014</span>
						</div>						
					</div>
				</div>
				<div class="col-md-3 socialPadding">
					<div class="col-md-12 socialPadding">
						<img src="images/sw1kopie.png" alt="kini socialWall" class="img-responsive">
						<div class="rightFloat rightOverlay overlay">
							<a href="#">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
								255
								<i class="fa fa-external-link" aria-hidden="true"></i>					23</a>
							</a>
						</div>
						<div class="overlay leftOverlay">
							<a href="#" class="fbLogoBox"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<span>03.09.2014</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 socialPadding">
					<div class="col-md-12 socialPadding">
						<img src="images/sw2.png" alt="kini socialWall" class="img-responsive">
						<div class="rightFloat rightOverlay overlay">
							<a href="#">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
								255
								<i class="fa fa-external-link" aria-hidden="true"></i>
								23
							</a>
						</div>
						<div class="overlay leftOverlay">
							<a href="#" class="fbLogoBox"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<span>03.09.2014</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 socialPadding">
					<div class="col-md-12 socialPadding">
						<img src="images/sw2kopie.png" alt="kini socialWall" class="img-responsive">
						<div class="rightFloat rightOverlay overlay">
							<a href="#">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
								255
								<i class="fa fa-external-link" aria-hidden="true"></i>
								23
							</a>
						</div>
						<div class="overlay leftOverlay">
							<a href="#" class="fbLogoBox"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<span>03.09.2014</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row socialBoxes">
				<div class="col-md-3 socialPadding">
					<div class="col-md-12 socialPadding">
						<img src="images/sw3.png" alt="kini socialWall" class="img-responsive">
						<div class="rightFloat rightOverlay overlay">
							<a href="#">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
								255
								<i class="fa fa-external-link" aria-hidden="true"></i>
								23
							</a>
						</div>
						<div class="overlay leftOverlay">
							<a href="#" class="fbLogoBox"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<span>03.09.2014</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 socialPadding">
					<div class="col-md-12 socialPadding">
						<img src="images/sw3kopie.png" alt="kini socialWall" class="img-responsive">
						<div class="rightFloat rightOverlay overlay">
							<a href="#">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
								255
								<i class="fa fa-external-link" aria-hidden="true"></i>
								23
							</a>
						</div>
						<div class="overlay leftOverlay">
							<a href="#" class="fbLogoBox"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<span>03.09.2014</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 socialPadding">
					<div class="col-md-12 socialPadding">
						<img src="images/sw4.png" alt="kini socialWall" class="img-responsive">
						<div class="rightFloat rightOverlay overlay">
							<a href="#">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
								255
								<i class="fa fa-external-link" aria-hidden="true"></i>
								23
							</a>
						</div>
						<div class="overlay leftOverlay">
							<a href="#" class="fbLogoBox"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<span>03.09.2014</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 socialPadding">
					<div class="col-md-12 socialPadding">
						<img src="images/sw4kopie.png" alt="kini socialWall" class="img-responsive">
						<div class="rightFloat rightOverlay overlay">
							<a href="#">
								<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
								255
								<i class="fa fa-external-link" aria-hidden="true"></i>
								23
							</a>
						</div>
						<div class="overlay leftOverlay">
							<a href="#" class="fbLogoBox"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<span>03.09.2014</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</div>

<!-- Find your store bottom section -->
<section id="bottomBanner" class="container-fluid">
	<div class="row">
		<div class="col-xs-12 bgContainer">
			<button>
				<span class="lightSpan">Finde your </span>
				<span>Store</span>
				<i class="pe-7s-map-marker"></i>
			</button>
		</div>
	</div>
	
</section>

 <!-- Navigation menu part -->
 <div id="menu" class="container-fluid" ng-show="navStatus == 'opened'">
	<div class="row">
		
		<div class="col-sm-4 col-sm-offset-2">
			<hr>
			<nav>
				<a href="#" class="menuItem active" ng-click="menu=1" ng-class="{'active' : menu==1 }">Online Shop</a>
				<a href="#" class="menuItem" ng-click="menu=2">The Kinis</a>
				<a href="#" class="menuItem" ng-click="menu=3">KINI-LINE</a>
				<a href="#" class="menuItem" ng-click="menu=4">Adventure Tours</a>
				<hr>
			</nav>
		</div>
		
		<div class="col-sm-4">
			<div class="rightFloat">
				<div class="lang">
					<span class="eachLang" ng-class="{'active':lang=='de'}" ng-click="lang='de'">de </span> // 
					<span class="eachLang" ng-class="{'active':lang=='en'}" ng-click="lang='en'">en</span>
				</div>
				<input type="text" class="search" ng-model="search">
				<div class="customPlaceholder" ng-show="!search">
					<span class="lightSpan">Finde your </span>
					<span>Store</span>
					<i class="pe-7s-search"></i>
				</div>
			</div>
		</div>	

	</div>
 </div>

<footer class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="socialLogos">
				<a href="https://www.instagram.com" target="_blank" id="instagram">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
				<a href="https://www.twitter.com" target="_blank" id="twitter">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
				<a href="https://www.facebook.com" target="_blank" id="facebook">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="https://www.youtube.com" target="_blank" id="youtube">
					<i class="fa fa-play" aria-hidden="true"></i>
				</a>
			</div>
			<p>MX KTM KINI GmbH (Shop & Werkstatt)   //   Bradl 319, 6210 Wiesing   //   Tel.: +43 5244 99870</p>
			<p>MX Sportsline GmbH (Onlineshop & Großhandel KINI Red Bull Line)   //   Bradl 319, 6210 Wiesing   //   Tel.: +43 5244 99871 </p>
			<p>
				<a href="#">Kontakt</a> //
				<a href="#">Impressum</a> // 
				<a href="#" style="color:#949494;">bluforce.at</a>
			</p>
			<img class="footerLogos img-responsive" src="images/footerLogos.png">
		</div>
	</div>
	
</footer>


 <!-- JavaScript -->
 <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <script src="./js/script.js"></script>

</body>
</html>



